body {
  background: #fff url("/img/bg.png") repeat;
  font-family: Verdana, sans-serif;
  font-size: 16px;
}

a, a:visited {
  color: #3333D0;
}

#outer {
  border-radius: 16px;
  margin: 0 auto;
}

#container-480 {
  width: 480px;
  margin: 0px auto;
}

h1 {
  margin:4px 0;
  font-size:1.5em;
}

#header {
  a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    font-size: 24px;
  }

  .user-nav {
    position: absolute;
    top: 8px;
    right: 0;
    width: 320px;
    text-align: center;
    a, .elem {
      vertical-align: middle;
      color: #333;
      display: block;
      padding: 4px;
      border-bottom: 1px solid #ccc;

      .span, img {
        vertical-align: middle;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

#footer {
  text-align: center;
}

form {
  .ctl-group {
    margin-bottom: 16px;

    label {
      display: block;
      text-align: left;
    }

    input.field, textarea.field {
      width: 100%;
      box-sizing: border-box;
      font-size: 16px;
      line-height: 20px;
      outline: 0;
      border:1px solid #ddd;
      border-radius: 2px;
      box-shadow: 0 1px 3px rgba(0,0,0,.1) inset,
      0 1px 1px #fff;

      &:focus {
        border-color: #55aef5;
        box-shadow: 0 1px 3px rgba(0,0,0,.1) inset,
        0 0 8px fade(#55aef5, 50%);
      }
    }
  }
}

.margin { margin: 16px; }
.margin-left { margin-left: 16px; }
.margin-top { margin-top: 16px; }
.margin-right { margin-right: 16px; }
.margin-bottom { margin-bottom: 16px; }

.pad { padding: 16px; }
.pad-left { padding-left: 16px; }
.pad-top { padding-top: 16px; }
.pad-right { padding-right: 16px; }
.pad-bottom { padding-bottom: 16px; }

.centered { text-align: center; }
.right-align { text-align: right; }

.btn {
  position:relative;
  display:inline-block;
  font-size:16px;
  text-align:center;
  border-style:solid;
  border-width:1px;
  border-radius: 4px;
  text-decoration: none !important;
  cursor:pointer;
  min-width:24px;
  white-space:nowrap;
  height:32px;
  line-height:32px;
  padding:0 12px;
  color:#fff !important;
  background: #338af5;
  &:active, &.active {
    background-position:0 -24px !important;
  }
}

#notices {
  position: absolute;
  bottom: 8px;
  right: 8px;
  width: 320px;
  font-size: 14px;

  .notice {
    border: 1px solid #333;
    background: #fff;
    border-radius: 16px;
    padding: 8px;
    min-height: 40px;

    padding-left: 48px;

    &.error {
      background: #fff url("/img/icons/32/delete.png") 8px center no-repeat;
    }

    &.info {
      background: #fff url("/img/icons/32/checkmark.png") 8px center no-repeat;
    }
    &.warn {
      background: #fff url("/img/icons/32/warning_sign.png") 8px center no-repeat;
    }

    + .notice {
      margin-bottom: 8px;
    }
  }
}

.todo-list {
  margin-top: 40px;
  display: block;
  > a, > .elem {
    position: relative;
    margin: 8px;
    border-radius: 8px;
    box-shadow: 0 0 2px 4px rgba(0,0,0,0.15);
    vertical-align: top;
    display: inline-block;
    border: 1px solid #555;
    width: 240px;
    height: 320px;
    background: #ccc url("/img/paper2.png") repeat;
    overflow: hidden;

    .description {
      line-height: 30px;
      padding: 0 8px;
    }

    .priority {
      position: absolute;
      top:4px;
      right:4px;
      background: rgba(255,255,255, 0.4);
      padding: 1px 3px;
      box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    }

    .ctls {
      position: absolute;
      bottom: 4px;
      right: 4px;
    }

    .dates {
      position: absolute;
      bottom: 4px;
      left: 4px;

    }
  }
}
